@font-face {
  font-family: "Lemon-Tuesday";
  src: url(/static/fonts/LEMON\ TUESDAY.OTF);
}

@font-face {
  font-family: "Muli-Regular";
  src: url(/static/fonts/MULI-REGULAR.TTF);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  font-family: "Muli-Regular";
  color: white;
  font-size: 18px;
  text-align: justify;
}

header {
  display: flex;
  width: 100%;
  height: 350px;
  background-color: rgb(250, 205, 64);
}

header img{
  position: absolute;
}

header img:nth-child(1) {
  height: 50%;
}

header img:nth-child(2) {
  height: 35%;
  left: 20%;
  top:50px;
}

header img:nth-child(3) {
  width: 60%;
  align-self: center;
  right: 0;
}

body section:nth-child(2) {
  display: flex;
}

body section:nth-child(2) div:nth-child(1) {
  display: flex;
  width: 60%;
  height: 350px;
  background-image: url(/static/img/P2\ -\ Foto\ azul\ salão.png);
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body section:nth-child(2) div:nth-child(1) img {
  display: block;
  position: absolute;
  align-self: center;
  width: 40%;
}

body section:nth-child(2) div:nth-child(2) {
  margin-right: 0;
  margin-left: auto;
  width: 40%;
  height: 290px;
  background-color: rgb(238, 78, 124);
  padding-top: 60px;
}

.container {
  display: block;
  align-self: center;
}

body section:nth-child(2) div:nth-child(2) img:nth-child(1) {
  display: block;
  height: 60px;
  margin: auto;
}

body section:nth-child(2) div:nth-child(2) img:nth-child(2) {
  display: block;
  margin: auto;
  height: 150px;
  margin-top: 30px;
}




body section:nth-child(3) {
  background-color: rgb(13, 169, 182);
  padding-bottom: 5%;
}

body section:nth-child(3) img {
  margin-top: 5%;
  margin-bottom: 2%;
  width: 40%;
}

body section:nth-child(3) p {
  margin-right: 10%;
  margin-left: 10%;
}

.impacto {
  background-color: white;
  width: 100%;
  height: 120vh;
}

.impacto .cabeçalho {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 40%;
  height: 150px;
}

.impacto .cabeçalho img:nth-child(2) {
  width: 84%;
  align-self: flex-end;
}

.impacto .atendimentos {
  position: absolute;
  display: flex;
  width: 50%;
  margin-top: 0;
}

.impacto .atendimentos div img {
  position: absolute;
}

.impacto .atendimentos div:nth-child(1) img:nth-child(1) {
  width: 35%;
  right: 0px;
  top:8vh;
}

.impacto .atendimentos div:nth-child(2) img:nth-child(1) {
  left: 20%;
  top: 9vh;
  z-index: 2;
  width: 38%;
}

.impacto .atendimentos div:nth-child(2) img:nth-child(2) {
  left: 2%;
  top: 45vh;
  width: 25%;
}

.impacto .atendimentos div:nth-child(3) img:nth-child(1) {
  left: 55%;
  top: 15vh;
  width: 38%;
  z-index: 1;
}

.impacto .atendimentos div:nth-child(3) img:nth-child(2) {
  right: 0;
  top: 50vh;
  width: 30%;
}

.impacto .atendimentos div:nth-child(4) img:nth-child(1) {
  left: 37%;
  top: 45vh;
  width: 32.5%;
  z-index: 3;
}

.impacto .atendimentos div:nth-child(4) img:nth-child(2) {
  left: 16%;
  top: 60vh;
  width: 20%;
}

.impacto .doacoes {
  position: absolute;
  right: 0;
  margin-top: -30vh;
  display: flex;
  width: 50%;
  height: 90vh;
}

.impacto .doacoes div {
  position: absolute;
  top: 0;
}
.impacto .doacoes img {
  position: absolute;
}
.impacto .doacoes img:nth-child(1) {
  width: 38%;
  top:15%;
  right: 50%;
  z-index: 3;
}

.impacto .doacoes img:nth-child(2) {
  right: 40%;
  top: 48%;
  width: 32%;
  z-index: 2;
}
.impacto .doacoes img:nth-child(3) {
  right: 25%;
  top: 25%;
  width: 30%;
  z-index: 1;
}

.impacto .doacoes img:nth-child(4) {
  right: 26%;
  top: 15%;
  width: 28%;
}

.impacto .doacoes img:nth-child(5) {
  right: 15%;
  top: 58%;
  width: 20%;
}

.impacto .doacoes img:nth-child(6) {
  right: 16%;
  top: 72%;
  width: 20%;
}

.impacto .doacoes img:nth-child(7) {
  right: 18%;
  top: 80%;
  width: 25%;
}

.impacto .doacoes img:nth-child(8) {
  right: 45%;
  top: 85%;
  width: 25%;
}

.impacto .doacoes img:nth-child(9) {
  right:71%;
  top: 78%;
  width: 25%;
}

.impacto .doacoes img:nth-child(10) {
  right: 75%;
  top: 65%;
  width: 25%;
}


.impacto .doacoes img:nth-child(11) {
  right: 75%;
  top: 65%;
  width: 25%;
}

.metas {
  background-color: rgb(250, 203, 64);
  position: absolute;
  display: flex;
  right: 0;
  margin-top: 90vh;
  width: 45%;
  height: 30vh;
  z-index:10;
}

.metas img{
  margin: 8%;
  width: 85%;
}

body section:nth-child(5) {
  width: 100%;
  height: 50vh;
}

#participar{
  display:flex;
  width: 100%;
  height: 30vh;
  background-color: rgb(230, 42, 41);
  align-items: center;
}
#participar img{
  width: 90%;
}

#trapeziorosa {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  background-color: rgb(233, 75, 123);
  height: 50vh;
  width: 60%;
  left: 0;
  align-content: center;
  justify-content: center;
}
#trapeziorosa img:nth-child(2){
  margin-right: 10vw;
  z-index: 2;
  width: 35vw;
}
#trapeziorosa img:nth-child(3){
  margin-right: 10vw;
  z-index: 2;
  width: 35vw;
}

#trapeziorosa img:nth-child(1){
  display:none;
  position: absolute;
  height: 50vh;
  width: 55vw;
  right: 0;
  z-index: 0;
}


#trapezioazul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  height: 50vh;
  width: 50%;
  right: 0;
  align-content: center;
  justify-content: center;
  }
#trapezioazul img:nth-child(2){
  margin-right: 0px;
  z-index: 2;
  width: 35vw;
}
#trapezioazul img:nth-child(3){
  margin-right: 0px;
  z-index: 2;
  width: 35vw;
}

#trapezioazul img:nth-child(1){
  position: absolute;
  height: 50vh;
  width: 55vw;
  right: 0;
  z-index: 1;
}

.garotofeliz{
display: flex;
margin-top: 50vh;
}

.garotofeliz img:nth-child(1){
  width: 100%;
}

.garotofeliz img:nth-child(2){
  width: 80%;
  align-self: center;
  margin-left: 10%;
  position: absolute;

}

.rodape{
  display: flex;
  background-color: rgb(13, 169, 182);
  height: 30vh;
  align-items: center;
}

.logorodape{
  display: flex;
  background-color: rgb(37, 97, 160);
  width: 20%;
  height: 100%;
  align-items: center;
}

.logorodape img{
  width: 50%;
  align-self: center;
  margin-left: 18%;
}

.email{
  display: flex;
  width: 30%;
}

.email img:nth-child(1){
   margin-left: 5vw;
   width: 4vw;
 }

.email img:nth-child(2){
  position: absolute;
  margin-left: 10vw;
  width: 35vw;
  align-self: center;
}


.instagram{
  display: flex;
  width: 30%;
  margin-left: 15vw;
}

.instagram img:nth-child(1){
   margin-left: 4vw;
   width: 4vw;
 }

.instagram img:nth-child(2){
  position: absolute;
  margin-left: 9vw;
  width: 20vw;
  align-self: center;
}

@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    font-family: "Muli-Regular";
    color: white;
    font-size: 18px;
    text-align: justify;
  }
  
  header {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 300px;
    background-color: rgb(250, 205, 64);
  }
  
  header img:nth-child(1) {
    height: 35%;
  }
  
  header img:nth-child(2) {
    height: 25%;
    left: 45%;
    top:40px;
  }
  
  header img:nth-child(3) {
    width: 90%;
    top: 225px;
  }
  
  body section:nth-child(2){
    display: flex;
    flex-wrap:wrap;
  }
  
  body section:nth-child(2) div:nth-child(1) {
    display: flex;
    width: 100%;
    height: 350px;
    background-image: url(/static/img/P2\ -\ Foto\ azul\ salão.png);
    justify-content: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  body section:nth-child(2) div:nth-child(1) img {
    display: block;
    position: absolute;
    align-self: center;
    width: 80%;
  }
  
  body section:nth-child(2) div:nth-child(2) {
    margin-right: 0;
    margin-left: auto;
    width: 100%;
    height: auto;
    background-color: rgb(238, 78, 124);
    padding-top: 0px;
  }
  
  .container {
    display: block;
    align-self: center;
  }
  
  body section:nth-child(2) div:nth-child(2) img:nth-child(1) {
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 10%;
  }
  
  body section:nth-child(2) div:nth-child(2) img:nth-child(2) {
    display: block;
    margin: auto;
    height: auto;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  body section:nth-child(3) {
    background-color: rgb(13, 169, 182);
    padding-bottom: 5%;
  }
  
  body section:nth-child(3) img {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 90%;
  }
  
  body section:nth-child(3) p {
    margin-right: 10%;
    margin-left: 10%;
  }
  
  .impacto {
    background-color: white;
    width: 100%;
    height: 175vh;
  }
  
  .impacto .cabeçalho {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 90%;
  }
  
  .impacto .cabeçalho img:nth-child(2) {
    width: 84%;
    align-self: flex-end;
  }
  
  .impacto .atendimentos {
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: -5vh;
    height: 50vh;
  }
  
  .impacto .atendimentos div img {
    position: absolute;
  }
  
  .impacto .atendimentos div:nth-child(1) img:nth-child(1) {
    width: 45%;
    right: 5vw;
    top:5vh;
  }
  
  .impacto .atendimentos div:nth-child(2) img:nth-child(1) {
    left: 5vw;
    top: 5vh;
    z-index: 2;
    width: 50%;
  }
  
  .impacto .atendimentos div:nth-child(2) img:nth-child(2) {
    left: 2vw;
    top: 34vh;
    width: 25%;
  }
  
  .impacto .atendimentos div:nth-child(3) img:nth-child(1) {
    left: 50%;
    top: 12vh;
    width: 45%;
    z-index: 1;
  }
  
  .impacto .atendimentos div:nth-child(3) img:nth-child(2) {
    right: 5vw;
    top: 38vh;
    width: 30%;
  }
  
  .impacto .atendimentos div:nth-child(4) img:nth-child(1) {
    left: 30%;
    top: 30vh;
    width: 35%;
    z-index: 3;
  }
  
  .impacto .atendimentos div:nth-child(4) img:nth-child(2) {
    left: 10vw;
    top: 45vh;
    width: 20%;
  }
  
  .impacto .doacoes {
    position: absolute;
    right: 0;
    margin-top: 45vh;
    display: flex;
    width: 100%;
    height: 90vh;
    z-index: 10;
  }
  
  .impacto .doacoes div {
    position: absolute;
    top: 0;
  }
  .impacto .doacoes img {
    position: absolute;
  }
  .impacto .doacoes img:nth-child(1) {
    width: 50%;
    top:10%;
    right: 45%;
    z-index: 3;
  }
  
  .impacto .doacoes img:nth-child(2) {
    right: 28%;
    top: 38%;
    z-index: 3;
    width: 40%;
  }
  .impacto .doacoes img:nth-child(3) {
    right:5%;
    top: 15%;
    width: 50%;
    z-index: 2;
  }
  
  .impacto .doacoes img:nth-child(4) {
    right: 10%;
    top: 8%;
    width: 45%;
    z-index:4;
  }
  
  .impacto .doacoes img:nth-child(5) {
    right: 1%;
    top: 48%;
    z-index:4;
    width: 25%;
  }
  
  .impacto .doacoes img:nth-child(6) {
    right: 1%;
    top: 58%;
    z-index: 4;
    width: 32%;
  }
  
  .impacto .doacoes img:nth-child(7) {
    right:1%;
    top: 62%;
    width: 38%;
    z-index: 4;
  }
  
  .impacto .doacoes img:nth-child(8) {
    right: 45%;
    top: 65%;
    width: 40%;
    z-index: 4;
  }
  
  .impacto .doacoes img:nth-child(9) {
    left: 1%;
    top: 57%;
    z-index: 4;
    width: 35%;
  }
  
  .impacto .doacoes img:nth-child(10) {
    left: 1%;
    right: 60%;
    top: 42%;
    z-index: 4;
    width: 40%;
  }
  
  .metas {
    background-color: rgb(250, 203, 64);
    position: absolute;
    display: flex;
    right: 0;
    margin-top: 145vh;
    width: 100%;
    height: 30vh;
    z-index:10;
    align-items: center;
  }
  
  .metas img{
    width:85%
  }
  
  body section:nth-child(5) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170vh;
  }
  
  #participar{
    display:flex;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 16vh;
    background-color: rgb(230, 42, 41);
    align-items: center;
  }
  #participar img{
    width: 120%;
    margin-left:-20%;
  }

  #trapezios{
    margin-top: 16vh;
  }
  #trapeziorosa {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  background-color: rgba(233, 75, 122, 0);
  height: 50vh;
  width: 100%;
  left: 0;
  align-content: center;
  justify-content: center;
}
#trapeziorosa img:nth-child(2){
  margin-right: 10vw;
  z-index: 2;
  width: 75vw;
}
#trapeziorosa img:nth-child(3){
  margin-right: 10vw;
  z-index: 2;
  width: 75vw;
}

#trapeziorosa img:nth-child(1){
  display:flex;
  position: absolute;
  height: 50vh;
  width: 100%;
  left: 0;
  z-index: 0;
}


#trapezioazul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  height: 50vh;
  width: 100%;
  right: 0;
  align-content: center;
  justify-content: center;
  }
#trapezioazul img:nth-child(2){
  display: flex;
  margin-right: 0px;
  width: 75vw;
}
#trapezioazul img:nth-child(3){
display: flex;
margin-right: 0px;
  width: 75vw;
}

#trapezioazul img:nth-child(1){
position: absolute;
  height: 50vh;
  width: 100vw;
  right: 0;
  z-index: 1;
}  
  .garotofeliz{
  display: flex;
  margin-top: 0vh;
  }
  
  .garotofeliz img:nth-child(1){
    width: 100%;
  }
  
  .garotofeliz img:nth-child(2){
    width: 80%;
    align-self: center;
    margin-left: 10%;
    position: absolute;
  
  }
  
  .rodape{
    display: flex;
    background-color: rgb(13, 169, 182);
    height: 20vh;
    align-items: center;
  }
  
  .logorodape{
    display: flex;
    background-color: rgb(37, 97, 160);
    width: 35%;
    height: 100%;
    align-items: center;
  }
  
  .logorodape img{
    width: 70%;
    align-self: center;
    margin-left:8%;
  }
  #contato{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .email{
    display: flex;
    width: 30%;
  }
  
  .email img:nth-child(1){
     margin-left: 4vw;
     width: 5vw;
   }
  
  .email img:nth-child(2){
    position: absolute;
    margin-left: 13vw;
    width: 50vw;
    align-self: center;
  }
  
  
  .instagram{
    display: flex;
    width: 30%;
    z-index: 3;
    margin-left: 0vw;
    margin-top: 15%;
  }
  
  .instagram img:nth-child(1){
     margin-left: 4vw;
     width: 5vw;
   }
  
  .instagram img:nth-child(2){
    position: absolute;
    margin-left: 16vw;
    width: 40vw;
    align-self: center;
  }
  }